.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiGrid-container {
  margin: auto;
}

.MuiButton-root.btn {
  font-weight: bold;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
