@font-face {
  font-family: "Tan Buster";
  src: local("Tan Buster"), url(../fonts/TAN-BUSTER.woff2) format("woff2");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-auto {
  margin: auto;
}

.MuiButton-root.btn {
  font-weight: bold;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.text-shadow {
  text-shadow: -5px 2px 0px #c3574e;
}

.radius {
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.radius-sm {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.h1,
.h1.btn {
  color: #fff;
  font-family: "Tan Buster";
  text-transform: none;
}
