.nav-desktop,
.nav-mobile ul {
  padding: 0;
  list-style-type: none;
}

.MuiLink-root.logo {
  color: #fff;
}

.MuiLink-root.logo .lg,
.nav-mobile .logo .lg {
  font-size: 1.5em;
  font-family: "Tan Buster";
  padding-left: 7px;
}

/* .MuiLink-root.logo .lg {
  color: #f50057;
} */

.nav-mobile .MuiLink-root.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  color: #081c16;
  z-index: 15;
}

.nav-mobile {
  width: 50px;
  height: 50px;
  left: unset;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-mobile.open {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.menu-background,
.nav-mobile ul,
.nav-mobile .social {
  z-index: 10;
}
.menu-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fffdf3;
  top: 0;
  right: 0;
}

.nav-mobile.open .menu-background {
  width: 100vw;
  height: 100vh;
}

button.menu-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  z-index: 20;
  top: 27%;
  right: 15%;
}

li.MuiMenuItem-root:hover,
li.MuiMenuItem-root:active {
  background-color: transparent;
}
